.banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 25%;
    height: 800px;
    border-bottom: 10px solid #7209B7;
}

.banner .wrapper {
    display: inline-flex;
    flex-direction: column;
    margin: 100px 0 0 200px;
}

.banner .box {
    margin-bottom: 70px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
    margin: 0;
}