.box {
    display: inline-block;
    text-align: center;
    background-color: #3A4042;
    padding: 35px 18px;
    box-shadow: 10px 10px 0px #000000;
    transition: transform 200ms cubic-bezier(.25,.1,.11,2.43), box-shadow 250ms ease-in-out;
}

.box .title {
    margin-bottom: 45px;
}

.box:hover {
    transform: scale(1.03);
    box-shadow: 13px 13px 0px #000000;
}