.button {
    display: inline-block;
    text-align: center;
    color: #000;
    background-color: #7209B7;
    width: 170px;
    height: 60px;
    line-height: 60px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    text-decoration: none;
    transition: transform 250ms cubic-bezier(.25,.1,.11,2.43), background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.button:hover {
    transform: scale(1.08);
    background-color: #C4C4C4;
    box-shadow: 10px 10px 0px #000;
}