.carousel-img {
    display: flex;
    align-items: center;
    height: 140px;
    margin: 0 25px;
    border: 5px solid #000;
    position: relative;
}

.carousel-img.-nofit {
    background-color: #7209B7;
    padding: 0 20px;
}

.carousel-img.-nofit .icon {
    max-height: 110px;
}