.skill {
    background-color: #FFF;
    width: 320px;
    height: 40px;
    border: 5px solid #000;
    box-sizing: border-box;
}

.skill::-moz-progress-bar {
    background-color: #7209B7;
    transition: background-color 200ms ease-in-out;
}

.skill::-webkit-progress-bar {
    background-color: #FFF
}

.skill::-webkit-progress-value {
    background-color: #7209B7;
    transition: background-color 200ms ease-in-out;
}